<%= link "[Threads]", to: thread_path(@conn, :index) %>
<h2>Posts</h2>
<%= link "[New Post]", to: thread_posts_path(@conn, :new, @thread_id) %>
<%= for post <- [@thread |@posts] do %>
  <%= render OpenjodelWeb.SharedPostsView, 
"post.html", 
        post: post,
        voting_form: @voting_form, 
        delete_post_path: thread_posts_path(@conn, :delete, @thread_id, post.id), 
        post_voting_path: thread_posts_voting_path(@conn, :create, @thread_id, post.id)
   %>
<% end %>
