/* This file is for your main application css. */

.fas.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

#root {
  font-size: 14px;
}

.content-box {
}


nav.topnav {
  height: 5vh;
}

.list-group-item.green {
  background-color: #9ec41c;

}

.openjodel-list {

  color: #fff;
}

.openjodel-list.openjodel-whole-screen .screen-body {
  height: 75vh;
}

.openjodel-12-screen {
  height: 95vh;
}

.openjodel-10-screen {
  height: 78vh;
}

.openjodel-2-screen {
  height: 15.333333333vh
}

.screen-body {
  height: 100%;
  overflow: hidden;
}

.openjodel-list .list-group-item {
  border-bottom: 4px solid white;
  border-top: unset;
}

.openjodel-list.single-thread .list-group-item {
  border-bottom: none;
}
.openjodel-list.single-thread .list-group-item.thread-item {

  border-bottom: 4px solid white;
}

.posting .posting-heading {
  opacity: 0.6;

  margin-bottom: 0.5em;
}

.posting .posting-heading .participant::before {
  content: "@";
}

.posting .posting-heading .participant {
  margin-right: 1em;
}

.posting .posting-footer {
  margin-top: 0.5em;
}

.posting .voting {
  text-align: center;
}

.posting .voting > * {
  display: block;
}

.posting .voting a {
  color: white;
}
.posting .voting a.upvote.active {
  color: orange;
}
.posting .voting a.downvote.active {
  color: black;
}

.posting .voting .counter {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  opacity: 0.6;  
}

.floating-action-button {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 100;
}

.floating-action-button a {
  color: black;
}

.new-thread textarea {
  height: 50vh !important;
}
